venv/
__pycache__/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

# Ignore all files with the extension .pkl, .csv, .log, .txt, .json, .yaml, .yml, .html, .css, .js, .xml
*.pkl
*.csv
*.log
*.txt
*.json
*.yaml
*.yml
*.html
*.css
*.js
*.xml